.loading {
  width : 30px;
  height:  30px;
  border: 2px solid white;
  border-top-color: blueviolet;
  border-bottom-color: blueviolet;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 5rem auto;
}

@keyframes spin {
  from {
   transform:  rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}